@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-zinc-800;
}

/* Hide the default checkbox appearance */
input[type="radio"] {
  /* appearance: none; */
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1rem;
  width: 1rem;
  border: 1px solid rgb(195, 5, 5);
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  position: relative;
}

/* Add a custom appearance for the checked state */
input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  @apply bg-rose-400;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

/* Add a custom appearance for the disabled state */
